[project]
	description = Class Materials for the BrmFld Public Library Programming Class.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jimrenwick (jimrenwick)
[access "refs/for/refs/*"]
	read = group user/jimrenwick (jimrenwick)
	push = group user/jimrenwick (jimrenwick)
	label-Code-Review = -2..+2 group user/jimrenwick (jimrenwick)
	label-Verified = -1..+1 group user/jimrenwick (jimrenwick)
	rebase = group user/jimrenwick (jimrenwick)
	removeReviewer = group user/jimrenwick (jimrenwick)
	submit = group user/jimrenwick (jimrenwick)
[access "refs/heads/*"]
	read = group user/jimrenwick (jimrenwick)
	create = group user/jimrenwick (jimrenwick)
	push = +force group user/jimrenwick (jimrenwick)
	pushMerge = group user/jimrenwick (jimrenwick)
[access "refs/tags/*"]
	push = group user/jimrenwick (jimrenwick)
	push = +force group user/jimrenwick (jimrenwick)
